* {
  margin: 0px;
  padding: 0px;
}

.container {
  border: 1px solid black;
  width: 1910px;
  height: 930px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  border: 1px solid black;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  width: 100%;
  padding-left: 15px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  height: 20%;
  width: 100%;
}

button {
  width: 30%;
  font-size: 22px;
}

input {
  height: 80px;
  font-size: 22px;
  width: 80%;
}

.right {
  width: 68%;
  height: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  display: flex;
}

li {
  width: 40%;
  height: 10%;
  border: 1px solid black;
  padding: 10px;
}
